.dashboard-card {
    border-radius: 8px;
    padding: 10px; /* Adjust padding as needed */
    margin: 5px 0; /* Adjust margins as needed */
    color: white;
    text-align: center;
    font-size: 14px; /* Adjust font size as needed */
}


.bg-red { background-color: #ff4b5c; }
.bg-orange { background-color: #ffa500; }
.bg-blue { background-color: #00aaff; }
.bg-green { background-color: #28a745; }

.card-percentage {
    font-size: 24px;
    font-weight: bold;
}

.sidebar {
    height: 60vh;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-body canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 800px; /* Adjust width as needed */
    max-height: 300px; /* Adjust height as needed */
    margin: 0 auto;
}
.card-body1 canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 150px; /* Adjust width as needed */
    max-height: 150px; /* Adjust height as needed */
    margin: 0 auto;
}


.chart-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    position: relative;
}

.line-chart-container {
    height: 300px;
    margin-top: 20px;
}

.chart-container {
    position: relative;
    height: 200px;
    width: 100%;
}